body{
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1{
    font-size: 5rem;
    font-weight: bold;
    font-family: 'DM Serif Display', serif;
    color: yellow;
    margin-right: 15px;
}
